---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rundetection
  namespace: ir
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rundetection
  template:
    metadata:
      labels:
        app: rundetection
    spec:
      containers:
      - name: rundetection
        image: ghcr.io/interactivereduction/rundetection@sha256:473c27133c41f9899093c85d6cb8729164e41e069d6a1e1200fead72c61a233e
        env:
        - name: ACTIVEMQ_IP
          value: "{{ active_mq_prod.ip }}"
        - name: ACTIVEMQ_USER
          value: "{{ active_mq_prod.username }}"
        - name: ACTIVEMQ_PASS
          value: "{{ active_mq_prod.password }}"
        - name: ACTIVEMQ_QUEUE
          value: detected-runs
        - name: KAFKA_IP
          value: kafka-cluster-kafka-bootstrap.kafka.svc.cluster.local # Using the DNS service this will resolve to an actual IP address to the kafka service
        volumeMounts:
          - name: archive-mount
            mountPath: /archive
          - name: ceph-mount
            mountPath: /ceph
      volumes:
        - name: archive-mount
          hostPath:
            type: Directory
            path: /archive
        - name: ceph-mount
          hostPath:
            type: Directory
            path: /ceph