---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rundetection
  namespace: ir
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rundetection
  template:
    metadata:
      labels:
        app: rundetection
    spec:
      containers:
      - name: rundetection
        image: ghcr.io/interactivereduction/rundetection@sha256:13f4dc375a1240dbca75f6ffd2c7b8b2f530ee4c9c69e50a3b287a5bb8c1f1eb
        env:
        - name: ACTIVEMQ_IP
          value: "{{ active_mq_prod.ip }}"
        - name: ACTIVEMQ_USER
          value: "{{ active_mq_prod.username }}"
        - name: ACTIVEMQ_PASS
          value: "{{ active_mq_prod.password }}"
        - name: ACTIVEMQ_QUEUE
          value: detected-runs
        - name: KAFKA_IP
          value: kafka-cluster-kafka-bootstrap.kafka.svc.cluster.local # Using the DNS service this will resolve to an actual IP address to the kafka service
        volumeMounts:
          - name: archive-mount
            mountPath: /archive
          - name: ceph-mount
            mountPath: /ceph
      volumes:
        - name: archive-mount
          hostPath:
            type: Directory
            path: /archive
        - name: ceph-mount
          hostPath:
            type: Directory
            path: /ceph