---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ir-api
  namespace: ir
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ir-api
  template:
    metadata:
      labels:
        app: ir-api
    spec:
      containers:
      - name: ir-api
        image: ghcr.io/interactivereduction/ir-api@sha256:807a46269f7dece754852ddfeec8766b65468fe0220b35d66b21bf14748c0ede
        env:
        - name: DB_IP
          value: "{{ db_prod.ip }}"
        - name: DB_PASSWORD
          value: "{{ db_prod.password }}"
        - name: DB_USERNAME
          value: "{{ db_prod.username }}"
        ports:
          - name: api-port
            protocol: TCP
            containerPort: 80
---
apiVersion: v1
kind: Service
metadata:
  name: ir-api-service
  namespace: ir
spec:
  selector:
    app: ir-api
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80