apiVersion: v1
kind: Secret
metadata:
  name: primary-credentials-logs
  namespace: grafana
stringData:
  username: "{{ grafana_cloud_promtail.username }}"
  password: "{{ grafana_cloud_promtail.token }}"