---
apiVersion: v1
kind: Secret
metadata:
  name: primary-credentials-metrics
  namespace: default
stringData:
  username: "{{ grafana_cloud_prometheus.username }}"
  password: "{{ grafana_cloud_prometheus.token }}"