[controllers]
%{ for hostname, ip in controllers ~}
${ip} ansible_host=${ip} ansible_user=${user}
%{ endfor ~}

[workers]
%{ for hostname, ip in workers ~}
${ip} ansible_host=${ip} ansible_user=${user}
%{ endfor ~}

[loadbalancer]
${load-balancer} ansible_host=${load-balancer} ansible_user=${user}